<div class="navitagorDiv" th:fragment="html">
	<nav class="navbar navbar-default navbar-fixed-top navbar-inverse" style="background-color: #243b2b">
		<!--<img style="margin-left:10px;margin-right:0px" class="pull-left" src="img/site/shuda.png" height="45px">-->
		<img style="margin-left:10px;margin-right:0px" class="pull-left"  height="45px">
		<a class="navbar-brand" href="#nowhere">IUC后台</a>
		
		<!--<a class="navbar-brand" href="admin_category_list">分类管理</a>-->
		<a class="navbar-brand" href="admin_patent_list">专利管理</a>
		<a class="navbar-brand" href="admin_user_list">用户管理</a>
		<a class="navbar-brand" href="admin_inventor_list">专家管理</a>
		<!--<a class="navbar-brand" href="admin_order_list">订单管理</a>-->
		<!--<a class="navbar-brand" href="admin_assess_list">评估管理</a>-->
		<!--<a class="navbar-brand" href="admin_agent_list">机构入驻</a>-->
		<!--<a class="navbar-brand" href="admin_service_list">知产服务</a>-->
		<!--<a class="navbar-brand" href="admin_infocategory_list">内容管理</a>-->
	</nav>
</div>
