<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:include="include/admin/adminHeader::html('编辑产品')" ></head>
<body>
<div th:replace="include/admin/adminNavigator::html" ></div>
<script>
    $(function(){
    	var id = getUrlParms("id");
        var data4Vue = {
            uri: 'productassess',
            listURL:'admin_productassess_list',
            bean: {'marketapply':100,'applyscale':100,'marketshare':100,'compete':100,'policyapply':100,'ability':100,'need':100,product:{category:''}}
            //category:''
        };

        //ViewModel
        var vue = new Vue({
            el: '#workingArea',
            data: data4Vue,
            mounted:function(){ //mounted　表示这个 Vue 对象加载成功了
                this.get();
            },
            methods: {
                get:function(){
                    var url = this.uri+"/"+id;
                    axios.get(url).then(function(response) {
                    	console.log(response.data);
                        vue.bean = response.data;
                        //vue.category = vue.bean.category;
                    })
                },
                update:function () {
                  /*   if(!checkEmpty(this.bean.name, "产品名称"))
                        return;
                    if (!checkEmpty(this.bean.subTitle, "小标题"))
                        return;
                    if (!checkNumber(this.bean.originalPrice, "原价格"))
                        return;
                    if (!checkNumber(this.bean.promotePrice, "优惠价格"))
                        return;
                    if (!checkInt(this.bean.stock, "库存"))
                        return; */
                    var url = this.uri+"/"+id;
                    axios.put(url,vue.bean).then(function(response){
                    	console.log(response.data)
                        location.href=vue.listURL+"?cid="+vue.bean.product.category.id;
                    });
                }
            }
        });
    });
</script>

<div id="workingArea">

<!--     <ol class="breadcrumb">
        <li><a href="admin_category_list">所有分类</a></li>
        <li><a :href="'admin_product_list?cid='+category.id">{{category.name}}</a></li>
        <li class="active">产品管理</li>
    </ol> -->



    <div class="panel panel-warning editDiv">
        <div class="panel-heading">编辑产品</div>
        <div class="panel-body">
            <table class="editTable">
                <tr>
                    <td>市场应用情况</td>
                    <td><input  v-model.trim="bean.marketapply" type="text" class="form-control"></td>
                </tr>
                <tr>
                    <td>专利申请规模</td>
                    <td><input  v-model.trim="bean.applyscale" type="text"
                                class="form-control"></td>
                </tr>
                <tr>
                    <td>市场占有率</td>
                    <td><input v-model.trim="bean.marketshare"  type="text"
                                class="form-control"></td>
                </tr>
                <tr>
                    <td>竞争情况</td>
                    <td><input  v-model.trim="bean.compete" type="text"
                                class="form-control"></td>
                </tr>
                <tr>
                    <td>政策适应性</td>
                    <td><input v-model.trim="bean.policyapply"  type="text"
                                class="form-control"></td>
                </tr>
                 <tr>
                    <td>专利权人能力</td>
                    <td><input v-model.trim="bean.ability"  type="text"
                                class="form-control"></td>
                </tr>
                 <tr>
                    <td>专利需求关系</td>
                    <td><input v-model.trim="bean.need"  type="text"
                                class="form-control"></td>
                </tr>
<!--                  <tr>
                    <td>经济价值度</td>
                    <td><input  @keyup.enter="update" v-model.trim="bean.need"  type="text"
                                class="form-control"></td>
                </tr> -->
                <tr class="submitTR">
                    <td colspan="2" align="center">
                        <input type="hidden" name="id"   v-model.trim="bean.id" >
                        <a href="#nowhere" class="btn btn-success" @click="update">提 交</a>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>

<div th:replace="include/admin/adminFooter::html" ></div>
</body>
</html>


