<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:include="include/admin/adminHeader::html('专利经纪人管理')" ></head>
<body>
<div th:replace="include/admin/adminNavigator::html" ></div>
<script>
    $(function(){
    	var agencyid = getUrlParms("agencyid");
        var data4Vue = {
            uri:'brokers',
            beans: [],
            bean: { id: 0, brokerName: '',brokerDomain: '',brokerDesc: '',qqNumber: '',agency:{'id':0},patentDomain:{'id':0}},
            pagination:{},
            file: null
        };

        //ViewModel
        var vue = new Vue({
            el: '#workingArea',
            data: data4Vue,
            mounted:function(){ //mounted　表示这个 Vue 对象加载成功了
                this.list(0);
            },
            methods: {
                list:function(start){
                    var url = "agency/"+agencyid+"/"+this.uri+"?start="+start;
                    axios.get(url).then(function(response) {
                        vue.pagination = response.data;
                        vue.beans = response.data.content;
                        console.log(vue.beans);
                    });
                },
                add: function () {
                   /*  if(!checkEmpty(this.bean.name, "分类名称"))
                        return;
                    if(!checkEmpty(this.file, "分类图片"))
                        return; */
                    var url = this.uri;

                    //axios.js 上传文件要用 formData 这种方式
                    var formData = new FormData();
                    console.log("专利经纪人："+this.bean.brokerName+","+this.bean.agency.id);
                    formData.append("image", this.file);
                    formData.append("brokerName", this.bean.brokerName);
                    formData.append("brokerDomain", this.bean.brokerDomain);
                    formData.append("qqNumber", this.bean.qqNumber);
                    formData.append("brokerDesc", this.bean.brokerDesc);
                    formData.append("agency.id", agencyid);
                    formData.append("patentDomain.id", this.bean.patentDomain.id);
       				
                    //this.bean.agency.id=agencyid;
                    //formData.append("agentDesc", this.bean.agentDesc);
                    axios.post(url,formData).then(function(response){
                        vue.list(0);
                        vue.bean = { id: 0, brokerName: '',brokerDomain: '',brokerDesc: '',qqNumber: '',agency:{'id':0},patentDomain:{'id':0}};
                        $("#brokerPic").val('');
                        vue.file = null;
                    });
                },
                deleteBean: function (id) {
                    if(!checkDeleteLink())
                        return;
                    var url = this.uri+"/"+id;
                    axios.delete(url).then(function(response){
                        if(0!=response.data.length){
                            alert(response.data);
                        }
                        else{
                            vue.list(0);
                        }
                    });
                },
                getFile: function (event) {
                    this.file = event.target.files[0];
                },
                jump: function(page){
                    jump(page,vue); //定义在adminHeader.html 中
                },
                jumpByNumber: function(start){
                    jumpByNumber(start,vue);
                }
            }
        });
    });

</script>
<div id="workingArea" style="height: 1200px">
    <h1 class="label label-info" >专利经纪人管理</h1>
    <br>
    <br>
    <div class="listDataTableDiv">
        <table class="table table-striped table-bordered table-hover  table-condensed">
            <thead>
            <tr class="success">
                <th>ID</th>
                <th>图片</th>
                <th>专利经纪人姓名</th>
                <th>专业领域</th>
                <th>个人简介</th>
                <th>QQ号码</th>
                <!--<th>公司介绍</th> -->
                <th>编辑</th>
                <th>删除</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="bean in beans ">
                <td>{{bean.id}}</td>
                <td>
                    <img height="40px"  :src="'img/broker/'+bean.id+'.jpg'">
                </td>
                <td>
                    {{bean.brokerName}}
                </td>
               <td>
                    {{bean.brokerDomain}}
                </td>
                <td>
                    {{bean.brokerDesc| subStringFilter(0,40)}}
                </td>
                <td>
                	{{bean.qqNumber}}
                </td>
                <td>
                    <!-- <a :href="'admin_category_edit?id=' + bean.id "><span class="glyphicon glyphicon-edit"></span></a> -->
                	<a href="#"><span class="glyphicon glyphicon-edit"></span></a>
                </td>
                <td>
                    <a href="#nowhere"  @click="deleteBean(bean.id)"><span class=" glyphicon glyphicon-trash"></span></a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div th:replace="include/admin/adminPage::html" ></div>
    <div class="panel panel-warning addDiv">
        <div class="panel-heading">新增分类</div>
        <div class="panel-body">
            <table class="addTable">
                <tr>
                    <td>头像</td>
                    <td>
                        <input id="brokerPic" accept="image/*" type="file" name="image" @change="getFile($event)" />
                    </td>
                </tr>
                <tr>
                    <td>姓名</td>
                    <td><input  @keyup.enter="add" v-model.trim="bean.brokerName" type="text" class="form-control"></td>
                </tr>
 				
               <!--  <tr>
                    <td>个人简介</td>
                    <td><input  @keyup.enter="add" v-model.trim="bean.brokerDesc" type="text" class="form-control"></td>
                </tr> -->
                <tr>
                    <td>QQ号码</td>
                    <td><input  @keyup.enter="add" v-model.trim="bean.qqNumber" type="text" class="form-control"></td>
                </tr>
				
				<tr>
                    <td>专业领域</td>
                    <td style="border: 1px solid #ccc;">
                    	专利咨询类服务<input  @keyup.enter="add" v-model.trim="bean.patentDomain.id" type="radio" name="domain" value="1"><br/>
                    	版权咨询类服务<input  @keyup.enter="add" v-model.trim="bean.patentDomain.id" type="radio" name="domain" value="2"><br/>
                    	商标咨询类服务<input  @keyup.enter="add" v-model.trim="bean.patentDomain.id" type="radio"  name="domain" value="3"><br/>
                    	专利代理服务<input  @keyup.enter="add" v-model.trim="bean.patentDomain.id" type="radio"  name="domain" value="4"><br/>
                    	商标代理服务<input  @keyup.enter="add" v-model.trim="bean.patentDomain.id" type="radio"  name="domain" value="5"><br/>
                    	版权代理服务<input  @keyup.enter="add" v-model.trim="bean.patentDomain.id" type="radio"  name="domain" value="6"><br/>
                    	维权代理服务<input  @keyup.enter="add" v-model.trim="bean.patentDomain.id" type="radio"  name="domain" value="7"><br/>
                    	知识产权企业成长服务<input  @keyup.enter="add" v-model.trim="bean.patentDomain.id" type="radio" name="domain" value="8">
                    </td>
                </tr>
				
				<tr>
                    <td>具体领域</td>
                    <td>
                    	<input  @keyup.enter="add" v-model.trim="bean.brokerDomain" type="text" class="form-control">
                    </td>
                </tr>
				
                <tr>
                    <td>个人简介</td>
                    <td>
                    
                    	<textarea  @keyup.enter="add" v-model.trim="bean.brokerDesc" 
                                class="form-control" cols="40" rows="10"></textarea>
                                
                    </td>
                </tr>
                
              
                <tr class="submitTR">
                    <td colspan="2" align="center">
                        <a href="#nowhere"  @click="add" class="btn btn-success">提交</a>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
<div th:replace="include/admin/adminFooter::html" ></div>
</body>
</html>
