<div class="navitagorDiv" th:fragment="html">
	<nav class="navbar navbar-default navbar-fixed-top navbar-inverse" style="background-color: #243b2b">
		<img style="margin-left:10px;margin-right:0px" class="pull-left" src="img/site/shuda.png" height="45px">
		<a class="navbar-brand" th:href="center">中心首页</a>
		<a class="navbar-brand" href="personal_info_list">个人信息</a>
		<a class="navbar-brand" href="personal_category_list">专利上传</a>
		<a class="navbar-brand" href="personal_demand_list">需求发布</a>
		<!-- <a class="navbar-brand" href="admin_order_list">订单管理</a> -->
	</nav>
</div>
