<div class th:fragment="html">
<!DOCTYPE html>
<script src="https://how2j.cn/study/js/jquery/2.0.0/jquery.min.js"></script>
<link href="https://how2j.cn/study/css/bootstrap/3.3.6/bootstrap.min.css" rel="stylesheet">
<script src="https://how2j.cn/study/js/bootstrap/3.3.6/bootstrap.min.js"></script>
<style>
  div.item img{
    width:1300px;
    height:400px;
   }
  div#carousel-example-generic{
    width:100%;
    
  }
</style>
<div class="p1" style="font-size: 25px;margin-top: 20px;margin-bottom:20px;text-align:center;font-weight: bold">热门子领域分析</div>
        <div class="c1" style="border: 4px solid darkolivegreen;margin-bottom:30px;margin-top: 15px"></div>
<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
    <li data-target="#carousel-example-generic" data-slide-to="3"></li>
    <li data-target="#carousel-example-generic" data-slide-to="4"></li>
    <li data-target="#carousel-example-generic" data-slide-to="5"></li>
    <li data-target="#carousel-example-generic" data-slide-to="6"></li>
    <li data-target="#carousel-example-generic" data-slide-to="7"></li>
    <li data-target="#carousel-example-generic" data-slide-to="8"></li>
    <li data-target="#carousel-example-generic" data-slide-to="9"></li>
    
    
  </ol>
 
  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <img src="img/zhao/zhao1.jpg" style="width:1100px;height:300px">
    		<div class="carousel-caption" style="font-family:sans-serif;font-size:20px;font-weight: bold;margin-top:0px;text-align: center">
        		欢迎
     		 </div>
    </div>
    <div class="item" v-for="bean,index in keywords">

            <img :src="'img/zhao1/zhao'+index+'.jpg'" style="width:1100px;height:300px">
    		<div class="carousel-caption" style="font-family:sans-serif;font-size:20px;font-weight: bold;margin-top:0px;text-align: center">
        		<div >主题{{index+1}}</div>
        		<div>{{bean.topic}}</div>
      		</div>
      		
    </div>
 
  </div>
 
  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
 
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
 
  </a>
 
</div>
	<div class="searchProducts">
		<div class="listDataTableDiv">		
				<div v-for="bean in keywords">
					<div style="margin-top: 30px">
						<form action="companyTopicSearch" method="get">
							<div style="width:250px;height:100px;border-radius:20%;background-color:#b0c4de;margin-bottom: 30px;margin-left:100px; float: left">
							   <input id="wd" name="keyword" type="text" class="input_search" style="border: 0px ;background-color:#b0c4de;margin-top:15px;text-align:center;font-size: 15px;font-weight: bolder;" :value="bean.topic"/>
                                <span>
                                    {{bean.keyword}}
                                </span>
								<button id="ok" name="ok" type="submit" value="提交" class="btn btn-sm" style="font-size: 15px;margin-top:10px;margin-left:20px;color: #2C3E50;float:left">
									企业分析
								</button>
							</div>
						</form>
					</div>
				</div>
		</div>

		<!--<div v-if="0 == keywords.length" class="noMatch">系统查询中，请稍等......</div>-->

		<div style="clear:both"></div>
	</div>
</div>
	
