<div th:fragment="html">
    <div id="footer"  class="footer" style="display: block;margin-top:100px;position:relative;">
		
		<!--<div id="footer_ensure" class="footer_ensure" style="margin-top: 10px">-->
            <!--<a href="#nowhere">-->
                <!--<img src="img/site/friendlylink.png">-->
            <!--</a>-->
        <!--</div>-->
		<!---->
		<!--<div class="horizontal_line">-->
       <!---->
        <!--</div>-->
		<!---->
<!-- 		<div id="footer_ensure" class="footer_ensure">
            <a href="#nowhere">
                <img src="img/site/ensure.png">
            </a>
        </div> --> 
		<!-- 武汉大学图书馆 -->
		<!--<div style="height: 312px;width: 1920px;overflow: hidden;">-->
			<!--<div style="width: 100%;height: 240px;background-color:#2F5627;">-->
				<!--&lt;!&ndash;-->
                	<!--描述：图书馆-->
                <!--&ndash;&gt;-->
				<!--<div style="display: inline-block;margin-left:200px;padding-top: 50px;position: absolute;">-->
					<!--<img src="img/site/library.png"/>-->
					<!--<p style="color: #BDBFC4;font-size: 22px;">-->
						<!--地址:&nbsp;湖北省武汉市武昌区八一路299号-->
					<!--</p>-->
				<!--</div>-->
				<!--&lt;!&ndash;-->
                	<!--描述：信息资源研究中心-->
                <!--&ndash;&gt;-->
              <!--&lt;!&ndash;   <div style="display: inline-block;margin-left:50px;position: relative;top: 50px; left: 550px;">-->
					<!--<img src="img/site/center.png"/>-->
				<!--</div> &ndash;&gt;-->
				<!--&lt;!&ndash;-->
                	<!--描述：多个链接-->
                <!--&ndash;&gt;-->
                <!--<div style="display: inline-block;margin-left:350px;position: relative; top: 70px;left: 600px;">-->
					<!--<p>-->
						<!--<span>-->
							<!--<a target="_blank" style="text-decoration: none;color: #BDBFC4;font-size: 18px;" href="http://www.whu.edu.cn/">武汉大学</a>-->
						<!--</span>-->
						<!--<span style="color: white;margin: 0px 20px 0px 20px;font-size: 18px">|</span>-->
						<!--<span>-->
							<!--<a target="_blank" style="text-decoration: none;color: #BDBFC4;font-size: 18px" href="http://sim.whu.edu.cn/">武汉大学信息管理学院</a>-->
						<!--</span>-->
						<!---->
					<!--</p>					-->
						<!--<span>-->
							<!--<a target="_blank" style="text-decoration: none;color: #BDBFC4;font-size: 18px" href="http://csir.whu.edu.cn/">武汉大学信息资源研究中心</a>-->
						<!--</span>-->
						<!--<span style="color: #BDBFC4;margin: 0px 20px 0px 20px;">|</span>-->
						<!--<span>-->
							<!--<a target="_blank" style="text-decoration: none;color: #BDBFC4;font-size: 18px" href="http://www.lib.whu.edu.cn/web/default.asp">武汉大学图书馆</a>-->
						<!--</span>-->
					<!--</p>-->
					<!--<p>-->
						<!--<span>-->
							<!--<a target="_blank" style="text-decoration: none;color: #BDBFC4;font-size: 18px" href="http://sim.whu.edu.cn/info/1034/1488.htm">武汉大学知识产权高级研究中心</a>-->
						<!--</span>-->
					<!--</p>-->
				<!--</div>-->
			<!--</div>-->
			<!--
            	描述：底部文字
            -->
			<div style="width: 100%;height:72px;background-color:#243B2B;margin-bottom: 0px;text-align:center">
				<span style="line-height: 72px; color: #BDBFC4;font-size: 14px;">
					Copyright&nbsp;@&nbsp;2019-2022&nbsp;&nbsp;IUC版权所有
				</span>
			</div>
		</div>
		<!-- 武汉大学图书馆 -->

        <div style="clear:both">

        </div>

    </div>
    <div th:fragment="html">
