<div th:fragment="html">
    <!--<div id="footer"  class="footer" style="display: block;margin-top:100px;position:relative;">-->
	<div id="footer"  class="footer" style="display: block;margin-top:100px;position:relative;">
			<div style="width: 100%;height:72px;background-color:#243B2B;margin-bottom: 0px;text-align:center">
				<span style="line-height: 72px; color: #BDBFC4;font-size: 14px;">
					Copyright&nbsp;@&nbsp;2019-2022&nbsp;&nbsp;宋凯、赵倩蓉、冉从敬版权所有
				</span>
			</div>
		</div>
		<!-- 武汉大学图书馆 -->

        <div style="clear:both">

        </div>

    </div>
    <div th:fragment="html">
