<div class th:fragment="html">
    <script>
        $(function(){
            var university =  getUrlParms("university");
            var inventor = getUrlParms("inventorname");
            //图表

            var data4Vue = {
                uri:'detailInventor',
                inventor:'',
                patents:[]
        };

            //ViewModel
            var vue = new Vue({
                el: '#workingArea',
                data: data4Vue,
                mounted:function(){ //mounted　表示这个 Vue 对象加载成功了
                    this.load();
                },
                methods: {
                    load:function(){
                        var url =  this.uri+"?university="+university+"&inventor="+inventor;
                        //获取数据
                        axios.post(url).then(function(response) {
                          var result = response.data;
                            vue.inventor=result.inventor;
                            vue.patents = result.patent;
                            vue.$nextTick(function(){
                                linkDefaultActions();
                            })
                        });

                    }
                }
            });
        })
    </script>

    <div id="topicSearchResult">
        <div class="topicSearchResultDiv">
            <div th:replace="include/fore/patentsByInventorDetail::html" ></div>
        </div>
    </div>
</div>
