<div class th:fragment="html">
    <script>
        $(function(){
            var university =  getUrlParms("university");
            var inventor = getUrlParms("inventorname");
            //图表

            var data4Vue = {
                uri:'detailInventor',
                inventor:'',
                patents:[],
                link:{source:'',target:'',value:0},
                topiclinks:[],
                topic:[],
                topicname:{name:''}
        };

            //ViewModel
            var vue = new Vue({
                el: '#workingArea',
                data: data4Vue,
                mounted:function(){ //mounted　表示这个 Vue 对象加载成功了
                    this.load();
                },
                methods: {
                    load:function(){
                        var url =  this.uri+"?university="+university+"&inventor="+inventor;
                        //获取数据
                        axios.post(url).then(function(response) {
                          var result = response.data;
                            vue.inventor=result.inventor;
                            vue.patents = result.patent;
                            var topics = result.topic;
                            var topiclinks = result.link;
                            //放入关键词
                            for(var i =0;i<topics.length;i++){
                                vue.topicname.name = topics[i].name;
                                vue.topic.push(vue.topicname);
                                vue.topicname={name:''};
                            }
                            //放入连接关系
                            for(var i=0;i<topiclinks.length;i++){
                                vue.link.source = topiclinks[i].source;
                                vue.link.target = topiclinks[i].target;
                                vue.link.value = topiclinks[i].value;
                                vue.topiclinks.push(vue.link);
                                vue.link = {source:'',target:'',value:0};
                            }
                            //画图
                            var myChart = echarts.init(document.getElementById('main'));
                            option = {
                                series: {
                                    type: 'sankey',
                                    layout:'none',
                                    focusNodeAdjacency: 'allEdges',
                                    data: vue.topic,
                                    links: vue.topiclinks
                                }
                            };
                            myChart.setOption(option);

                            vue.$nextTick(function(){
                                linkDefaultActions();
                            })
                        });

                    }
                }
            });
        })
    </script>

    <div id="topicSearchResult">
        <div class="topicSearchResultDiv">
            <div th:replace="include/fore/patentsByInventorDetail::html" ></div>
        </div>
    </div>
</div>
