<div class th:fragment="html">
    <script src="js/jquery/2.0.0/jquery.min.js"></script>
    <script src="js/echarts.min.js"></script>
    <div class="searchProducts">
        <div class="listDataTableDiv" style="width: 25%;float: left;margin-top: 50px;margin-left: 30px">
            <div style="text-align: center;margin-bottom: 20px;font-size: 20px;font-weight: bold;">高校科研团队发明人列表</div>
            <table class="table table-striped table-bordered table-hover  table-condensed">
                <thead>
                <tr class="success" style="font-size: 15px;height: 30px;">
                    <th style="background-color: #8E8E8E">发明人&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;相似专利件数&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;点击查看</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="bean in inventors">
                    <td>
                        <!--发明人详情-->
                        <form action="inventorDetail" method="get">

                            <div class="div_search">

                                <input id="wd" name="inventorname" type="text" class="input_search" style="border: 0px" :value="bean.inventorName"/>
                                <input type="text" v-model="university" name="university" style="display: none"/>
                                <span style="margin-left:0px">
                                    {{bean.inventorNum}}
                                </span>
                                <button id="ok" name="ok" type="submit" value="提交" class="button_ok" style="margin-left:70px;">
                                    查看大咖详情
                                </button>
                            </div>
                        </form>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <!--发明人网络图-->
        <div id="uniECharts" style="width: 65%;float: left;margin-top:50px;margin-left: 70px" v-show="showNetwork">
            <a style="font-size: 15px;font-weight: bold"> 高校研究团队合作网络图谱</a>&nbsp;&nbsp;<span>/</span>&nbsp;&nbsp;
            <a href="#nowhere" @click="toggle2Review" style="font-size: 15px;font-weight: bold">高校研究团队核心专利</a>

            <!-- 为ECharts准备一个具备大小（宽高）的Dom -->
            <div id="main" style="width: 900px;height:500px;margin-left: 20px;margin-top: 50px">

            </div>
        </div>

        <!--高校团队专利展示-->
        <!--<div class="listDataTableDiv" v-show="showPatentList">-->
        <div v-show="showPatentList" style="width: 65%;float: left;margin-top:50px;margin-left: 70px">
            <a @click="toggle2Detail" style="font-size: 15px;font-weight: bold"> 高校研究团队合作网络</a>&nbsp;&nbsp;<span>/</span>&nbsp;&nbsp;
            <a style="font-size: 15px;font-weight: bold">高校研究团队核心专利</a>
                <!--<table class="table table-striped table-bordered table-hover  table-condensed">-->
                <div style="text-align: center;margin-bottom: 20px;font-size: 20px;font-weight: bold;margin-top: 50px;margin-bottom: 30px">高校科研团队核心专利列表</div>
                <table class="table table-striped table-bordered table-hover  table-condensed" style="width: 800px">
                    <thead>
                    <tr class="success">
                        <th style="background-color: #8E8E8E">ID</th>
                        <th style="background-color: #8E8E8E">专利名称</th>
                        <th style="background-color: #8E8E8E">申请号</th>
                        <th style="background-color: #8E8E8E">高校名称</th>
                        <th style="background-color: #8E8E8E">高校发明人</th>
                        <th style="background-color: #8E8E8E">收藏</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="bean in patents ">
                        <td>{{bean.id}}</td>
                        <td>{{bean.patentTitle}}</td>
                        <td>{{bean.applyNum}}</td>
                        <td>{{bean.applyPerson}}</td>
                        <td>{{bean.patentInventor}}</td>
                        <td>
                            <a href="#"><span class="glyphicon glyphicon-edit"></span></a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        <div style="clear:both"></div>
    </div>
</div>

