<div class th:fragment="html">
    <script src="js/jquery/2.0.0/jquery.min.js"></script>
    <script src="js/echarts.min.js"></script>
    <div class="searchProducts">
        <div class="listDataTableDiv" style="width: 25%;float: left">
            <table class="table table-striped table-bordered table-hover  table-condensed">
                <tr class="success" style="font-size: 15px">
                    <th>高校名称&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;相似专利件数&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 点击分析</th>
                  
                </tr>
                </thead>
                <tbody>
                <tr v-for="bean in universitys">
                	<td>
                        <form action="inventorSearch" method="get">

                            <div class="div_search">

                               <input id="wd" name="university" type="text" class="input_search" style="border: 0px":value="bean.name"/>
                               <input type="text" v-model="keyword" name="keyword" style="display: none;margin-left: 50px"/>
                                <span>
                                    {{bean.number}}
                                </span>
                               <button id="ok" name="ok" type="submit" value="提交" class="button_ok" style="margin-left:40px">
                                    科研团队分析
                                </button>
                            </div>
                        </form> 
           			</td>
                </tr>
                </tbody>
            </table>
        </div>

        <div id="uniECharts" style="width: 75%;float: left;margin-top: 50px;margin-left: auto">
            <!--<div>
                <button>高校发明专利排名</button>
                <a href="#nowhere" @click="heat">高校发明专利热力图</a>
            </div>-->

            <!-- 柱状图=====为ECharts准备一个具备大小（宽高）的Dom -->
            <div  v-show="showDetail" class="productDetailDiv">
                <a> 高校发明专利排名</a>
                <a href="#nowhere" @click="toggle2Review">高校发明专利热力图</a>

                    <div id="main" style="width: 1000px;height:600px;"></div>

                </div>
            </div>


            <!-- 热力图====为ECharts准备一个具备大小（宽高）的Dom -->
            <div  v-show="showReview" style=" float: right" >
                <a  @click="toggle2Detail"> 高校发明专利排名</a>
                <a href="#nowhere">高校发明专利热力图</a>

                <div id="mainheat" style="width: 1000px;height:600px;">

                </div>
            </div>

        </div>
        <div style="clear:both"></div>
    </div>
</div>

