<div class th:fragment="html">
    <script src="js/jquery/2.0.0/jquery.min.js"></script>
    <script src="js/echarts.min.js"></script>
    <div class="searchProducts">
        <div class="listDataTableDiv" style="width: 20%;float: left">
            <table class="table table-striped table-bordered table-hover  table-condensed">
                <thead>
                <tr class="success">
                    <th>发明人排名</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="bean in inventors">
                    <td>
                        <!--发明人详情-->
                        <form action="inventorDetail" method="get">

                            <div class="div_search">

                                <input id="wd" name="inventorname" type="text" class="input_search" :value="bean.inventorName"/>
                                <input type="text" v-model="university" name="university" style="display: none"/>
                                <span>
                                    {{bean.inventorNum}}
                                </span>
                                <button id="ok" name="ok" type="submit" value="提交" class="button_ok" >
                                    查看大咖详情
                                </button>
                            </div>
                        </form>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

        <div id="uniECharts" style="width: 80%;float: left;margin-top: 50px">
            <!-- 为ECharts准备一个具备大小（宽高）的Dom -->
            <div id="main" style="width: 900px;height:500px;">

            </div>
        </div>
        <div style="clear:both"></div>
    </div>
</div>

