<div class th:fragment="html">
	<div class="searchProducts">
		<div class="listDataTableDiv">
			<table class="table table-striped table-bordered table-hover  table-condensed">
				<thead>
				<tr class="success" style="font-size: 15px">
					<th>主题</th>

				</tr>
				</thead>
				<tbody>
				<tr v-for="bean in keywords">
					<td>
						<form action="topicSearch" method="get">

							<div class="div_search">

								<input id="wd" name="keyword" type="text" class="input_search"style="border: 0px ;font-size: 12px" :value="bean.name"/>

								<button id="ok" name="ok" type="submit" value="提交" class="button_ok" style="font-size: 12px">
									高校分析
								</button>
							</div>
						</form>

					</td>

					<!--<td>{{bean.tfidfvalue}}</td>-->

				</tr>
				</tbody>
			</table>
		</div>

		<!--<div v-if="0 == keywords.length" class="noMatch">系统查询中，请稍等......</div>-->

		<div style="clear:both"></div>
	</div>
</div>
	
