<div class th:fragment="html">
    <!--<a th:href="center">-->
        <!--<img id="logo" src="img/site/shuda.png" class="logo" style="width: 200px;margin-top: 30px;margin-left: 40px">-->
    <!--</a>-->
    <!--<form action="search" method="get" >-->
        <!--<div class="searchDiv">-->
            <!--<input name="keyword" type="text" placeholder="机器人  新能源 ">-->
            <!--<button  type="submit" class="searchButton">搜索</button>-->
            <!--<div class="searchBelow">-->
				<!--<span th:each="c,status: ${application.categories_below_search}" th:if="${status.index>=5 && status.index<=7}">-->
					<!--<a th:href="@{'category?cid='+${c.id}}" th:text="${c.name}" ></a>-->
					<!--<span th:if="${status.index!=7}">|</span>-->
	            <!--</span>-->
            <!--</div>-->
        <!--</div>-->
    <!--</form>-->
</div>
