<div class th:fragment="html">
<script>
            $(function(){
                var keyword = getUrlParms("keyword");
                var data4Vue = {
                    uri:'heatphoto',
                    mapData:[]
                };
                //ViewModel
                var vue = new Vue({
                    el: '#workingArea',
                    data: data4Vue,
                    mounted:function(){ //mounted　表示这个 Vue 对象加载成功了
                        this.load();
                    },
                    methods: {
                        load:function(){
                            var url =  this.uri;
                            axios.post(url).then(function(response) {
                                /*  var result = response.data;
                                  vue.universitys=result.data.university;*/
                                vue.mapData = response.data;

                                //画图
                                var dom = echarts.init(document.getElementById('main'));
                                option = {
                                    title: {
                                        text: '高校发明专利数量热力图',
                                        //subtext: 'data from PM25.in',
                                        left: 'center',
                                        textStyle: {
                                            color: '#fff'
                                        }
                                    },
                                    backgroundColor: '#404a59',
                                    visualMap: {
                                        min: 0,
                                        max: 1000,
                                        splitNumber: 10,
                                        inRange: {
                                            color: ['#d94e5d', '#eac736', '#50a3ba'].reverse()
                                        },
                                        textStyle: {
                                            color: '#fff'
                                        }
                                    },
                                    geo: {
                                        map: 'china',
                                        label: {
                                            emphasis: {
                                                show: false
                                            }
                                        },
                                        roam: true,
                                        itemStyle: {
                                            normal: {
                                                areaColor: '#323c48',
                                                borderColor: '#111'
                                            },
                                            emphasis: {
                                                areaColor: '#2a333d'
                                            }
                                        }
                                    },
                                    series: [{
                                        name: '机构发表文献被引次数',
                                        type: 'heatmap',
                                        coordinateSystem: 'geo',
                                        data: vue.mapData

                                    }]
                                };

                                $.get('js/china.json', function (chinaJson) {
                                    echarts.registerMap('china', chinaJson);
                                    var myChart = echarts.init(document.getElementById('main'));
                                    myChart.setOption(option);
                                });
                                vue.$nextTick(function(){
                                    linkDefaultActions();
                                })
                            });
                        }
                    }
                });
            })
        </script>

        <div id="topicSearchResult">
            <div id="main" style="width: 1100px;height:520px;"></div>
        </div>
</div>
</body>
</html>


