<div th:fragment="html">

	<!-- <div style="margin: 20px auto" align="center">
		<span>
			<img src="img/site/sevenindustry.png"></a>
		</span>
	</div>
	
	<div style="margin: 20px auto" align="center">
		<span>
			<a href="shudacenter"><img src="img/site/shudajingxuan.png"></a>
		</span>
		<span>
			<a href="demandlist"><img src="img/site/xuqiuduijie.png"></a>
		</span>
		<span>
			<a href="agencylist"><img src="img/site/zhuanlijingjiren.png"></a>
		</span>
		<span>
			<a href="shudashop"><img src="img/site/shudaservice.jpg" style="margin-top: 20px"></a>
		</span>
	</div> -->

    <div class="homepageCategoryProducts">
        <div class="eachHomepageCategoryProducts" v-for="c,index in infocategories">
            <div class="left-mark"></div>
            	<span class="categoryTitle">{{c.name}}</span>
            	<span style="margin-left: 980px;font-size: 12px">
            		<a href="#">【更多】</a>
            	</span>
            <br>
            <div class="productItem"  v-for="p,index in c.informations" v-if="index<5" style="margin-left: 30px">
                <a :href="'product?pid='+p.id">
                    <img width="100px" :src="'img/informationSingle_middle/'+p.firstInformationImage.id+'.jpg'">
                </a>

                <a class="productItemDescLink" href="'product?pid='+p.id">
									<span class="productItemDesc" 
									style="font-weight: bold;font-size: 12px">
									{{p.title | subStringFilter(0,20)}}
									</span>
                </a>
                <span class="productPrice" style="font-size: 8px;margin-top: -15px;color: black">
									{{p.contentDesc | subStringFilter(0,30)}}
				</span>
            </div>
            <div style="clear:both"></div>
        </div>
    </div>
</div>
