<div th:fragment="html">
    <script>

        $(function(){

            var data4Vue = {
                uri:'foreinfodisplay',
                infocategories: []
            };
            //ViewModel
            var vue = new Vue({
                el: '#workingArea',
                data: data4Vue,
                mounted:function(){ //mounted　表示这个 Vue 对象加载成功了
                    linkDefaultActions();
                    this.load();
                },
                methods: {
                    load:function(){
                        var url =  this.uri;
                        axios.get(url).then(function(response) {
                            vue.infocategories = response.data;
                            console.log(vue.infocategories);
                            vue.$nextTick(function(){
                                //要等渲染结束之后，才来进行监听，否则他们都没有被创建出来，监听也没有意义呀
                                //homePageRegisterListeners();
                            })
                        });
                    }
                },
                filters:{
                    subTitleFilter:function(value) {
                        if (!value) return ''; //如果为空，则返回空字符串
                        return value.split(" ")[0]; //根据空格拆分，并且只获取数组第一个值
                    }
                }
            });


        });

    </script>


    <title>数达中心首页</title>
    <div class="homepageDiv">
        <!-- <div th:replace="include/fore/infodisplay/categoryAndcarousel::html" ></div> -->
        <div th:replace="include/fore/infodisplay/carousel::html" ></div>
        <div th:replace="include/fore/infodisplay/homepageCategoryProducts::html" ></div>
    </div>
</div>




