<!DOCTYPE html>
<script src="https://how2j.cn/study/js/jquery/2.0.0/jquery.min.js"></script>
<link href="https://how2j.cn/study/css/bootstrap/3.3.6/bootstrap.min.css" rel="stylesheet">
<script src="https://how2j.cn/study/js/bootstrap/3.3.6/bootstrap.min.js"></script>
<style>
div.well{
  margin:10px;
  font-size:12px;
}
</style>
<a th:href="center" style="margin-left: 1200px;margin-top: 10px">
        <span style="color:#243b2b;margin:0px" class=" glyphicon glyphicon-home redColor" ></span>
        返回IUC首页
    </a>
<div class="p1" style="font-size: 20px;margin-top: 0px;margin-bottom:20px;margin-left: 20px;font-weight: bold">企业管理中心</div>
    
        <div class="c1" style="border: 2px solid darkolivegreen;margin-bottom:30px;margin-top: 15px"></div>
<a class="btn btn-info" role="button" data-toggle="collapse" href="#dota" aria-expanded="false" aria-controls="collapseExample">
  企业资料
</a>
<button class="btn btn-info" type="button" data-toggle="collapse" data-target="#lol" aria-expanded="false" aria-controls="collapseExample">
  专家库
</button>
<div class="collapse" id="dota">
   <div class="well" style="font-size:15px">
 	 <div style="text-align: center;font-size: 20px;color:darkolivegreen;margin-bottom:10px">华为公司简介</div>
	&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp华为技术有限公司是一家生产销售通信设备的民营通信科技公司，于1987年正式注册成立，总部位于中国广东省深圳市龙岗区坂田华为基地。华为是全球领先的信息与通信技术（ICT）解决方案供应商，专注于ICT领域，坚持稳健经营、持续创新、开放合作，在电信运营商、企业、终端和云计算等领域构筑了端到端的解决方案优势，为运营商客户、企业客户和消费者提供有竞争力的ICT解决方案、产品和服务，并致力于实现未来信息社会、构建更美好的全联接世界。2013年，华为首超全球第一大电信设备商爱立信，排名《财富》世界500强第315位。
	截至2016年底，华为有17多万名员工，华为的产品和解决方案已经应用于全球170多个国家，服务全球运营商50强中的45家及全球1/3的人口。2016年8月，全国工商联发布“2016中国民营企业500强”榜单，华为以3950.09亿元的年营业收入成为500强榜首。8月，华为在"2016中国企业500强"中排名第27位。2017年6月6日，《2017年BrandZ最具价值全球品牌100强》公布，华为名列第49位。 2019年7月22日美国《财富》杂志发布了最新一期的世界500强名单 ，华为排名第61位。2018年《中国500最具价值品牌》华为居第六位。12月18日，世界品牌实验室编制的《2018世界品牌500强》揭晓，华为排名第58位。 
	2018年2月，沃达丰和华为完成首次5G通话测试；2019年8月9日，华为正式发布鸿蒙系统。2019年8月22日，2019中国民营企业500强发布，华为投资控股有限公司以7212亿营收排名第一。
	华为的知识产权部早在1995年就创立。从2000年起华为国内专利申请量以每年翻倍的速度增长，2004年超过2000件。在国外专利申请方面，累计PCT申请或国外专利申请已经超过600件，申请国内外商标也超过600件。
	2017年6月30日，华为技术有限公司荣获中国商标金奖的马德里商标国际注册特别奖。
  	</div>
  	<div style="text-align: center;"><button type="button" class="btn btn-primary">编辑企业资料</button></div>
</div>
 
<div class="collapse" id="lol">
  <div class="well">
  <img src="img/zhao/zhao8.png" width="1400" height="200">
  </div>
</div>
<div style="height:100px"></div>