<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:include="include/personal/adminHeader::html('编辑分类')" ></head>
<body>
<div th:replace="include/personal/adminNavigator::html" ></div>
<script>
    $(function(){
        var data4Vue = {
            uri: 'personal',
            listURL:'personal_info_list',
            bean: { id:'',name: '', password: '',phone:'',email:'',profession:'',address:''},
        };

        //ViewModel
        var vue = new Vue({
            el: '#workingArea',
            data: data4Vue,
            mounted:function(){ //mounted　表示这个 Vue 对象加载成功了
                this.get();
            },
            methods: {
                get:function(){
                    var id = getUrlParms("id");
                    var url = this.uri+"/"+id;
                    axios.get(url).then(function(response) {
                        vue.bean = response.data;
                    })
                },
                update:function () {
                    if(!checkEmpty(this.bean.name, "分类名称"))
                        return;
                    var url = this.uri+"/"+this.bean.id;
					console.log(this.bean.name+","+this.bean.email);
					console.log("准备修改！");
                    axios.put(url,this.bean).then(function(response){
                    	alert("修改成功!");
                        location.href=vue.listURL;
                    });
                }
            }
        });
    });
</script>

<div id="workingArea">

    <ol class="breadcrumb">
        <li><a href="personal_category_list">个人信息</a></li>
        <li class="active">编辑信息</li>
    </ol>

    <div class="panel panel-warning editDiv">
        <div class="panel-heading">编辑个人信息</div>
        <div class="panel-body">
            <table class="editTable">
                <tr>
                    <td>用户名</td>
                    <td><input  name="name" v-model.trim="bean.name" type="text" class="form-control"></td>
                </tr>
                <tr>
                    <td>密码</td>
                    <td><input  name="password" v-model.trim="bean.password" type="text" class="form-control"></td>
                </tr>
                <tr>
                    <td>联系方式</td>
                    <td><input  name="phone" v-model.trim="bean.phone" type="text" class="form-control"></td>
                </tr>
                <tr>
                    <td>邮箱</td>
                    <td><input  name="email" v-model.trim="bean.email" type="text" class="form-control"></td>
                </tr>
                <tr>
                    <td>从事行业</td>
                    <td><input  name="profession" v-model.trim="bean.profession" type="text" class="form-control"></td>
                </tr>
                
                 <tr>
                    <td>所在地区</td>
                    <td><input  name="address" v-model.trim="bean.address" type="text" class="form-control"></td>
                </tr>
                
                <tr class="submitTR">
                    <td colspan="2" align="center">
                        <input type="hidden" name="id"   v-model.trim="bean.id" >
                        <a href="#nowhere" class="btn btn-success" @click="update">提 交</a>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>

<div th:replace="include/admin/adminFooter::html" ></div>
</body>
</html>






