<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="include/personal/adminHeader::html('匹配专利')" ></head>
<body>
<div th:replace="include/personal/adminNavigator::html" ></div>
<script>
    $(function(){
        var id = getUrlParms("id");
        var data4Vue = {
            uri:'patentmatch',
            beans: [],
            bean: {id:0,name:'','transferType':'','applyNum':'CN201520941678.X','promotePrice':1998,'stock':1,patentDesc:'',matchScore:0},
            pagination:{}
        };

        //ViewModel
        var vue = new Vue({
            el: '#workingArea',
            data: data4Vue,
            mounted:function(){ //mounted　表示这个 Vue 对象加载成功了
                this.list(0);
            },
            methods: {
                list:function(start){
                	
                    var url = "personaldemand/"+id+"/"+this.uri+"?start="+start;
                    axios.get(url).then(function(response) {
                        vue.pagination = response.data;
                        console.log("分类下的商品:"+response.data.content);
                        vue.beans = response.data.content	;
                    });
                },
                deleteBean: function (id) {
                    if(!checkDeleteLink())
                        return;
                    var url = this.uri+"/"+id;
                    axios.delete(url).then(function(response){
                        if(0!=response.data.length)
                            alert(response.data);
                        else
                            vue.list(0);
                    });
                },
                jump: function(page){
                    jump(page,vue); //定义在adminHeader.html 中
                },
                jumpByNumber: function(start){
                    jumpByNumber(start,vue);
                }
            }

        });
    });

</script>

<div id="workingArea" >

    <div class="listDataTableDiv">
        <table class="table table-striped table-bordered table-hover table-condensed">
            <thead>
            <tr class="success">
                <th width="60px">ID</th>
                <th style="text-align: center">专利名称</th>
                <th width="200px" style="text-align: center">匹配度</th>
             <!--    <th width="80px">需求类型</th>
                <th width="80px">联系人</th>
                <th width="80px">手机号码</th>
                <th width="80px">电子邮箱</th>
                <th width="80px">所在地</th>
                <th style="text-align: center">需求详情</th>
                <th width="80px">匹配专利</th> -->
                <!-- <th width="60px">删除</th> -->
            </tr>
            </thead>
            <tbody>
            <tr v-for="bean in beans ">
                <td>{{bean.id}}</td>
               <td>{{bean.name}}</td>
               <!--   <td>{{bean.industryType}}</td>
                <td>{{bean.demandType}}</td>
                <td>{{bean.contactPerson}}</td>
                <td>{{bean.contactPhone}}</td>
				<td>{{bean.contactEmail}}</td>
                <td>{{bean.contactAddress}}</td> -->
                <td style="text-align: center">{{bean.matchScore}}%</td>
				
               <!--  <td>
                    <a :href="'personal_demandmatch_list?id=' + bean.id "><span class="glyphicon glyphicon-retweet"></span></a>
                </td> -->
                <!-- <td>
                    <a href="#nowhere"  @click="deleteBean(bean.id)"><span class="   glyphicon glyphicon-trash"></span></a>
                </td> -->
            </tr>
            </tbody>
        </table>
    </div>

    <div th:replace="include/personal/adminPage::html" ></div>
    
</div>

<div th:replace="include/personal/adminFooter::html" ></div>
</body>
</html>
