<div th:fragment="html"> 

<script> 
function imgAndInfoPageRegisterListeners(vue){   
	
    $("img.smallImage").mouseenter(function(){
        var bigImageURL = $(this).attr("bigImageURL");
        $("img.bigImg").attr("src",bigImageURL);
    });
     
    $("img.bigImg").load(
        function(){
            $("img.smallImage").each(function(){
                var bigImageURL = $(this).attr("bigImageURL");
                img = new Image();
                img.src = bigImageURL;
                 
                img.onload = function(){
                    $("div.img4load").append($(img));
                };
            });     
        }
    );
}
 
</script>
	 
	<div class="imgAndInfo">
	 
	    <div class="imgInimgAndInfo">
	        <img v-if="firstRightServiceImage!=null" :src="'img/rigthServiceSingle/'+firstRightServiceImage.id+'.jpg'" class="bigImg">
	        
	        <img style="display: none;" v-for="pi in s.rightServiceSingleImages" :src="'img/rightServiceSingle_small/'+pi.id+'.jpg'" :bigImageURL="'img/rightServiceSingle/'+pi.id+'.jpg'" class="smallImage">
	        
	        <!-- <div class="smallImageDiv">
                <img v-for="pi in p.productSingleImages" :src="'img/productSingle_small/'+pi.id+'.jpg'" :bigImageURL="'img/productSingle/'+pi.id+'.jpg'" class="smallImage">
	        </div> -->
	        <div class="img4load hidden" ></div>
	    </div>
	
	
	    <div class="infoInimgAndInfo">
	         
	        <div class="productTitle">
	            <h3>{{s.serviceName}}</h3>
	            <!-- <div style="background: #fdf2f2;float: right;position:absolute;top: 370px;left: 1100px;border: 1px solid #d8555b;padding: 5px 20px 5px 20px">	            
	            	<p style="text-align: center;font-size:20px;font-family:bold;color:red;margin: 0px">{{p.score}}分</p>
	            	<p style="text-align: center;margin: 0px;font-size:10px;color: red" >数达专利评估</p>
	            </div> -->
	        </div>
	        
	        <!-- <div class="productSubTitle">
	            {{p.subTitle}}
	        </div> -->
			<!-- <div class="productSaleAndReviewNumber" style="margin-top: 40px">
	            <div>交易方式： <span class="redColor boldWord"> {{ p.transferType }}</span></div>   
	            <div>专利申请号： <span class="redColor boldWord"> {{ p.applyNum }}</span></div>    
	        </div> -->
	
	
	        <div class="productPrice">
	            <!-- <div class="juhuasuan">
	                <span class="juhuasuanBig" >聚划算</span>
	                <span>此商品即将参加聚划算，<span class="juhuasuanTime">1天19小时</span>后开始，</span>
	            </div> -->
	
	
	
	            <div class="productPriceDiv" style="margin-top: 30px">
	
	                <div class="promotionDiv" style="height: 90px;line-height: 90px;">
	                    <span class="promotionPriceDesc" style="font-size: 12px">服务定金</span>
	                    <span class="promotionPriceYuan">¥</span>
	                    <span class="promotionPrice">
							{{s.servicePrice|formatMoneyFilter}}
	                    </span>
	                </div>
                	
                	<div style="background: #fdf2f2;float: right;position:absolute;top: 480px;left: 1050px;border: 1px solid #d8555b;padding: 5px 20px 5px 20px">	            
		            	<p style="text-align: center;margin: 0px;font-size:10px;color: red" >服务类型</p>
		            	<p style="text-align: center;font-size:13px;font-family:bold;color:red;margin: 0px">{{s.serviceType}}</p>
	            	</div>
	            </div>
	        </div>
	
	        
	       <div class="productNumber" style="display: none;">
	            <span>数量</span>
	            <span>
	                <span class="productNumberSettingSpan">
	                <input class="productNumberSetting" type="text" value="1">
	                </span>
	                <span class="arrow">
	                    <a href="#nowhere" class="increaseNumber">
	                    <span class="updown">
	                            <img src="img/site/increase.png">
	                    </span>
	                    </a>
	                     
	                    <span class="updownMiddle"> </span>
	                    <a href="#nowhere"  class="decreaseNumber">
	                    <span class="updown">
	                            <img src="img/site/decrease.png">
	                    </span>
	                    </a>
	                     
	                </span>
	                     
	            件</span>
	        </div>

	         <div class="buyDiv" style="margin-top: 15px">
			      <!-- <a class="buyLink" ><button class="buyButton" >立即购买</button></a> -->
			      <a :href="'patentbrokerlist?domainid='+domain.id">
			      	<!-- <button class="addCartButton">
			      		<span class="glyphicon glyphicon-shopping-cart"></span>
			      		咨询专家
			      	</button> -->
			      	 <img src="img/site/shudaexpert.png" style="width: 200px">
			      </a>
			 </div>
	        
	    </div>
	     
	    <div style="clear:both"></div>
	     
	</div>
</div>
