<div th:fragment="html">
    <script>
        $(function(){
            var rsid = getUrlParms("rsid");
            var data4Vue = {
                uri:'forerightservice',
                s:'',
                domain:{id:0,domainName:''},
                firstRightServiceImage:null,
                /* pvs:[],
                reviews:[], */
                showDetail:true,
                showReview:false,
                user:{name:'', password:''}
            };
            //ViewModel
            var vue = new Vue({
                el: '#workingArea',
                data: data4Vue,
                mounted:function(){ //mounted　表示这个 Vue 对象加载成功了
                    linkDefaultActions();
                    this.load();
                },
                methods: {
                    load:function(){
                        var url =  this.uri+"/"+rsid;
                        axios.get(url).then(function(response) {
                            var result = response.data;
                            vue.s=result.data.service;
                            /* vue.pvs=result.data.pvs;
                            vue.reviews=result.data.reviews; */

                            vue.domain = vue.s.patentDomain;
                            console.log("domain:"+vue.domain);
                            vue.firstRightServiceImage = vue.s.firstRightServiceImage;
                            vue.$nextTick(function(){
                                imgAndInfoPageRegisterListeners(vue);
                            })
                        });
                    },
                    toggle2Detail:function(){
                        this.showDetail=true;
                        this.showReview=false;
                    },
                    toggle2Review:function(){
                        this.showDetail=false;
                        this.showReview=true;
                    }
                }
            });


        });
    </script>

    <title>模仿天猫官网 -- {{s.name}}</title>
    <div class="categoryPictureInProductPageDiv" style="background-color: ">
        <!-- <img v-if="domain!=null" class="categoryPictureInProductPage" :src="'img/service/'+domain.id+'.jpg'"> -->
   		<img class="categoryPictureInProductPage" :src="'img/service/serviceexer.jpg'">
    </div>
    <div class="productPageDiv">
        <div th:replace="include/fore/rightService/imgAndInfo::html" ></div>
        <div th:replace="include/fore/rightService/productReview::html" ></div>
        <div th:replace="include/fore/rightService/productDetail::html" ></div>
    </div>
</div>
